@tailwind base;
@tailwind components;
@tailwind utilities;

#app-preview {
    width: 21cm;
    height: 29.7cm;
}

/*#wrap-preview {
    font-family: serif;
}*/

.theme-2 .theme-sep {
    background-color: rgb(250 204 21);
}

.font-serif {
    font-family: serif;
}

.font-sans-serif {
    font-family: sans-serif;
    font-size: 0.95rem;
}