@tailwind base;
@tailwind components;
@tailwind utilities;

#app-preview {
    max-width: 21cm;
    min-height: 29.7cm;
}

/*#wrap-preview {
    font-family: serif;
}*/

.type-1 .col-left .sep {
    margin-left: auto;
}

.type-1 .bloc-contact .title,
.type-1 .bloc-contact .sep {
    display: none;
}

.font-serif {
    font-family: serif;
}

.font-sans-serif {
    font-family: sans-serif;
}